<h1>Task Feed</h1>




<body class="taskin">

<% @task.each do |task| %>
  <p>
    <%= task.doer.username %>
     completed : <%= task.title %>
    for : <%= task.creator.username %>
  </p>
<% end %>

</body>
