
<h1>People</h1>

<%= params[:term] %>

<h2>Results</h2>
<% @users.each do |u|%>
<% if u.friends.map(&:id).include?(current_user.id) %>
  <%= link_to u.username, u %>
<% else %>
  <%= u.username %><%= button_to 'Add+', add_friend_path(friend: u.id) %>
<% end %>
<% end %>
