//User Index Page

<div class ="looking"><h2>Looking for Someone?"<h2>
</div>

<h2>People</h2>

<%= params[:term] %>

<h2>Results</h2><br><br>
<div class ="results">
  <% @users.each do |u|%>

    <% if u.friends.map(&:id).include?(current_user.id) %>
      <%= link_to u.username, u %>
    <% else %>
      <%= u.username %><%= button_to 'Come On, Add Me As A Friend!', add_friend_path(friend: u.id), class:'btn btn-primary btn-lg' %>
  <% end %>

</div>
<% end %>
