<h1><%= @user.username %></h1>
<% unless current_user == @user || current_user.is_friends_with?(@user) %>
  <%= button_to 'Add+', add_friend_path(friend: @user.id) %>
<% end %>



<h2><%= @user.username %>'s current friends:</h2>

<% @user.accepted_friends.each do |friend| %>
@<%= friend.username %>
<% end %>
