<h1>Friend Requests</h1>

<h2><%= @user.username %>'s current friends:</h2>
<% @user.friends.each do |friend| %>
<p>
  <% if friend.friendships.where(status: 'requested', friend_id: @user.id) != [] %>
    @<%= friend.username %>
  <% end %>
</p>
<% end %>
